.theme-batu-product { width: 300px; height: 530px; }
.theme-batu-product .nivoSlider { position:relative; background: url(../images/slider/loading.gif) no-repeat 50% 50%; }
.theme-batu-product .nivoSlider > img { position:absolute; top: 0; left: 0; display:none; }
.theme-batu-product .nivoSlider, .theme-batu-product .nivoSlider > img { width: 299px; height: 420px; }

noscript .theme-batu-product .nivoSlider img { display: block; }

.theme-batu-product .nivo-controlNav { position: absolute; top: 422px; }
.theme-batu-product .nivo-control { float: left; width: 73px; margin-right: 1px; cursor: pointer; }
.theme-batu-product .nivo-control:last-child { margin-right: 0; }
.theme-batu-product .active { cursor: default !important; }
  .theme-batu-product .nivo-control img { display: block !important; vertical-align: middle; width: 100%; }

/* faux shadow */
.theme-batu-product .nivoSlider, .theme-batu-product .nivo-control { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.theme-batu-product .nivo-control:hover, .theme-batu-product .active { border-color: #666; }
